# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
*.env

# IDE and editor folders
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
*.egg
MANIFEST

# Pytest
.cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Environment variable files
.env

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
